:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    box-sizing: border-box;
    padding: 0;
}
body {
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
}

.card {
    width: 300px;
    padding: 20px;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 0px 0px 45px -21px rgba(0,0,0,0.75);
}

.qrcode img {
    width: 100%;
    border-radius: 15px;
}

.card-title, .card-details {
    padding: 10px;
    text-align: center;
}

.card-title {
    margin-bottom: 8px;
}

.card-details {
    margin-top: 0px;
    padding-top: 0px;
    color: var(--slate-500)
}
